

<!-- <div id="productinfoModal" #productinfoModal class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="fulldetails">
        <div class="modal-header">
          
          <h4 class="modal-title">{{fulldetails.product_name}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body"> -->
          <div class="parent-sec">          
            <p><img class="prod-img" width="50%" src={{selectedproduct.product_img}} alt=""></p>
            <div class="details-sec">
              <p><span><strong>{{selectedproduct.product_name}}</strong></span></p>
              <p><strong><span><strong>Price</strong></span>- ${{selectedproduct.product_price}}</strong></p>
              <p class="prd-detail"><strong><span>Details:</span></strong> <br /> {{selectedproduct.product_details}}</p>  
              <p><button class="btn btn-success btn-xs plus" (click)="add(selectedproduct.product_id)"> + </button> &nbsp;
                <!-- <span class="itemcount">{{itemquantity}} </span> &nbsp; -->
                <button class="btn btn-danger btn-xs minus" (click)="del(selectedproduct.product_id)"> - </button>
              </p>
              <button (click)="addtocrt()">Add to cart</button>
            </div>
        </div>
       <!-- </div>

         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div> -->